<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" (click)="scrollToHomeTop()">Vincent Möller</a>
    <div class="navbar-links">
      <a class="nav-link" (click)="scrollToHomeTop()">Home</a>
      <a class="nav-link" href="/#projects-section" routerLinkActive="active">Projekte</a>
      <a class="nav-link" href="/#about-section" routerLinkActive="active">Über mich</a>
      <a class="nav-link" href="/#contact-section" routerLinkActive="active">Kontakt</a>
    </div>
  </div>
</nav>
