<div class="impressum-container">
  <h1>Datenschutzerklärung</h1>

  <p>Diese Datenschutzerklärung klärt Sie über die Art, den Umfang und Zweck der Verarbeitung von personenbezogenen Daten (nachfolgend kurz „Daten“) innerhalb unseres Onlineangebotes und der mit ihm verbundenen Webseiten, Funktionen und Inhalte sowie externen Onlinepräsenzen, wie z.B. unser Social Media Profile auf (nachfolgend gemeinsam bezeichnet als „Onlineangebot“).</p>

  <h2>Verantwortlicher</h2>
  <p>Vincent Möller<br>
  Rudolf-Harbig-Weg 59<br>
  48149 Münster</p>

  <h2>Arten der verarbeiteten Daten</h2>
  <ul>
    <li>Bestandsdaten (z.B., Namen, Adressen).</li>
    <li>Kontaktdaten (z.B., E-Mail, Telefonnummern).</li>
    <li>Nutzungsdaten (z.B., besuchte Webseiten, Zugriffszeiten).</li>
    <li>Meta-/Kommunikationsdaten (z.B., Geräte-Informationen, IP-Adressen).</li>
  </ul>

  <h2>Zweck der Verarbeitung</h2>
  <ul>
    <li>Zurverfügungstellung des Onlineangebotes, seiner Funktionen und Inhalte.</li>
    <li>Beantwortung von Kontaktanfragen und Kommunikation mit Nutzern.</li>
    <li>Sicherheitsmaßnahmen.</li>
    <li>Reichweitenmessung/Marketing.</li>
  </ul>

  <h2>Rechtsgrundlagen</h2>
  <p>Wir verarbeiten personenbezogene Daten nur unter Einhaltung der einschlägigen Datenschutzbestimmungen. Das bedeutet, die Daten der Nutzer werden nur bei Vorliegen einer gesetzlichen Erlaubnis verarbeitet. d.h., insbesondere wenn die Datenverarbeitung zur Erbringung unserer vertraglichen Leistungen (z.B. Bearbeitung von Aufträgen) sowie Online-Services erforderlich, bzw. gesetzlich vorgeschrieben ist, eine Einwilligung des Nutzers vorliegt, als auch aufgrund unserer berechtigten Interessen (d.h. Interesse an der Analyse, Optimierung und wirtschaftlichem Betrieb und Sicherheit unseres Onlineangebotes im Sinne des Art. 6 Abs. 1 lit. f. DSGVO, insbesondere bei der Reichweitenmessung und Profilerstellung zu Werbezwecken, Erhebung von Zugriffsdaten und Einsatz der Dienste von Drittanbietern).</p>

  <h2>Sicherheitsmaßnahmen</h2>
  <p>Wir treffen dem Stand der Technik entsprechende organisatorische, vertragliche und technische Sicherheitsmaßnahmen, um sicherzustellen, dass die Vorschriften der Datenschutzgesetze eingehalten und dadurch die durch uns verarbeiteten Daten gegen zufällige oder vorsätzliche Manipulationen, Verlust, Zerstörung oder gegen den Zugriff unberechtigter Personen geschützt sind.</p>

  <h2>Zusammenarbeit mit Auftragsverarbeitern und Dritten</h2>
  <p>Sofern wir im Rahmen unserer Verarbeitung Daten gegenüber anderen Personen und Unternehmen (Auftragsverarbeitern oder Dritten) offenbaren, sie an diese übermitteln oder ihnen sonst Zugriff auf die Daten gewähren, erfolgt dies nur auf Grundlage einer gesetzlichen Erlaubnis (z.B. wenn eine Übermittlung der Daten an Dritte, wie an Zahlungsdienstleister, gem. Art. 6 Abs. 1 lit. b DSGVO zur Vertragserfüllung erforderlich ist), Sie eingewilligt haben, eine rechtliche Verpflichtung dies vorsieht oder auf Grundlage unserer berechtigten Interessen (z.B. beim Einsatz von Agenten, Webhostern, etc.).</p>

  <h2>Rechte der betroffenen Personen</h2>
  <p>Sie haben das Recht, eine Bestätigung darüber zu verlangen, ob betreffende Daten verarbeitet werden und auf Auskunft über diese Daten sowie auf weitere Informationen und Kopie der Daten entsprechend Art. 15 DSGVO. Sie haben entsprechend. Art. 16 DSGVO das Recht, die Vervollständigung der Sie betreffenden Daten oder die Berichtigung der Sie betreffenden unrichtigen Daten zu verlangen. Sie haben nach Maßgabe des Art. 17 DSGVO das Recht zu verlangen, dass betreffende Daten unverzüglich gelöscht werden, bzw. alternativ nach Maßgabe des Art. 18 DSGVO eine Einschränkung der Verarbeitung der Daten zu verlangen. Sie haben das Recht zu verlangen, dass die Sie betreffenden Daten, die Sie uns bereitgestellt haben nach Maßgabe des Art. 20 DSGVO zu erhalten und deren Übermittlung an andere Verantwortliche zu fordern. Sie haben ferner gem. Art. 77 DSGVO das Recht, eine Beschwerde bei der zuständigen Aufsichtsbehörde einzureichen.</p>

  <h2>Widerrufsrecht</h2>
  <p>Sie haben das Recht, erteilte Einwilligungen gem. Art. 7 Abs. 3 DSGVO mit Wirkung für die Zukunft zu widerrufen.</p>

  <h2>Widerspruchsrecht</h2>
  <p>Sie können der künftigen Verarbeitung der Sie betreffenden Daten nach Maßgabe des Art. 21 DSGVO jederzeit widersprechen. Der Widerspruch kann insbesondere gegen die Verarbeitung für Zwecke der Direktwerbung erfolgen.</p>

  <h2>Änderung der Datenschutzerklärung</h2>
  <p>Wir behalten uns vor, die Datenschutzerklärung anzupassen, um sie an geänderte Rechtslagen, oder bei Änderungen des Dienstes sowie der Datenverarbeitung anzupassen. Dies gilt jedoch nur im Hinblick auf Erklärungen zur Datenverarbeitung. Sofern Einwilligungen der Nutzer erforderlich sind oder Bestandteile der Datenschutzerklärung Regelungen des Vertragsverhältnisses mit den Nutzern enthalten, erfolgen die Änderungen nur mit Zustimmung der Nutzer.</p>

  <p>Die Nutzer werden gebeten sich regelmäßig über den Inhalt der Datenschutzerklärung zu informieren.</p>
</div>
