<div class="about-container">
  <div class="about-header text-center" appFadeInOnScroll>
    <h1 class="display-4">Über mich</h1>
    <p class="lead">Student der Wirtschaftsinformatik & leidenschaftlicher Webentwickler.</p>
  </div>

  <div class="about-content mt-5">
    <div class="row" appFadeInOnScroll>
      <div class="col-lg-8 mx-auto">
        <p>Hallo! Ich bin Vincent Möller, ein engagierter Student der Wirtschaftsinformatik mit einer tiefen Leidenschaft für die Webentwicklung. Mein Studium ermöglicht es mir, die Brücke zwischen betriebswirtschaftlichen Anforderungen und technologischen Lösungen zu schlagen. Ich bin stets bestrebt, mein Wissen zu erweitern und innovative Lösungen zu entwickeln.</p>
        <p>In meiner Freizeit tauche ich gerne in neue Technologien ein und arbeite an spannenden Projekten, die meine Fähigkeiten herausfordern und erweitern. Ich bin ein großer Fan von Clean Code und Best Practices und lege Wert auf gut strukturierte und wartbare Anwendungen.</p>
        <p>Diese Portfolio-Seite ist ein Schaufenster meiner Projekte und Fähigkeiten. Ich hoffe, Sie finden hier interessante Einblicke in meine Arbeit.</p>
      </div>
    </div>

    <div class="skills-section mt-5" appFadeInOnScroll>
      <h2 class="text-center mb-4">Meine Fähigkeiten</h2>
      <div class="row text-center">
        <div class="col-md-4 mb-4">
          <div class="skill-card p-4 rounded shadow-sm">
            <h3>Frontend</h3>
            <p>HTML, CSS, JavaScript, TypeScript, Angular, Vue.js, HTML, CSS, Bootstrap</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="skill-card p-4 rounded shadow-sm">
            <h3>Backend</h3>
            <p>Java, Spring Boot, Node.js, Express.js, FastAPI, REST-API</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="skill-card p-4 rounded shadow-sm">
            <h3>Datenbanken</h3>
            <p>MySQL, MongoDB, PostgreSQL</p>
          </div>
        </div>
      </div>
    </div>

    <div class="social-media-section mt-5 text-center" appFadeInOnScroll>
      <h2 class="mb-4">Verbinde dich mit mir</h2>
      <a href="https://github.com/VincentM7347" target="_blank" class="social-icon me-3"><i class="bi bi-github"></i> GitHub</a>
      <a href="https://www.linkedin.com/in/vincent-m%C3%B6ller-9a0a252a2//" target="_blank" class="social-icon"><i class="bi bi-linkedin"></i> LinkedIn</a>
    </div>
  </div>
</div>
