<div class="about-container">
  <div class="about-header text-center" appFadeInOnScroll>
    <h1 class="display-4">Über mich</h1>
  </div>

  <div class="about-content mt-5">
    <div class="row" appFadeInOnScroll>
      <div class="col-lg-8 mx-auto">
        <p>Hallo, ich bin Vincent Möller! Als Student der Wirtschaftsinformatik begeistert es mich, die Welten von Business und IT zu verbinden. Meine Leidenschaft ist die Softwareentwicklung, wo ich mein akademisches Wissen nutze, um durchdachte und effiziente technische Lösungen für betriebswirtschaftliche Herausforderungen zu schaffen.</p>
        <p>Ich lege großen Wert auf Clean Code und etablierte Best Practices, da für mich die Qualität und Wartbarkeit einer Anwendung an erster Stelle stehen. Sowohl in Hochschulprojekten also auch in meiner Freizeit arbeite ich an eigenen Anwendungen, um neue Technologien zu erkunden und meine Fähigkeiten kontinuierlich zu erweitern.</p>
        <p>Dieses Portfolio gibt Ihnen einen Einblick in meine Arbeit und meine Herangehensweise an die Softwareentwicklung. Viel Spaß beim Entdecken</p>
      </div>
    </div>

    <div class="skills-section mt-5" appFadeInOnScroll>
      <h2 class="text-center mb-4">Meine Fähigkeiten</h2>
      <div class="row text-center">
        <div class="col-md-4 mb-4">
          <div class="skill-card p-4 rounded shadow-sm">
            <h3>Frontend</h3>
            <div class="skill-icons">
              <img src="assets/icons/html.svg" alt="HTML5">
              <img src="assets/icons/css.svg" alt="CSS3">
              <img src="assets/icons/javascript.svg" alt="JavaScript">
              <img src="assets/icons/typescript.svg" alt="TypeScript">
              <img src="assets/icons/angular.png" alt="Angular">
              <img src="assets/icons/vuejs.png" alt="Vue.js">
              <img src="assets/icons/lit.svg" alt="Lit">
              <img src="assets/icons/bootstrap.svg" alt="Bootstrap">
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="skill-card p-4 rounded shadow-sm">
            <h3>Backend</h3>
            <div class="skill-icons">
              <img src="assets/icons/java.svg" alt="Java">
              <img src="assets/icons/spring.svg" alt="Spring Boot">
              <img src="assets/icons/nodejs.svg" alt="Node.js">
              <img src="assets/icons/express.svg" alt="Express.js">
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="skill-card p-4 rounded shadow-sm">
            <h3>Datenbanken</h3>
            <div class="skill-icons">
              <img src="assets/icons/mysql.svg" alt="MySQL">
              <img src="assets/icons/mongodb.png" alt="MongoDB">
              <img src="assets/icons/postgresql.png" alt="PostgreSQL">
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>
</div>
