app-projects {
  display: block; /* Ensures margin-top works correctly */
  margin-top: 80px; /* Adjust this value as needed */
}

#projects-section {
  scroll-margin-top: 80px; /* Adjust this value to be slightly more than your header height */
}